<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Makao</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/card-styles.css">
    <script type="text/javascript" src="/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/game.js"></script>
    <script type="text/javascript" src="/ui.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
<!-- <img src="wood.png" style="display: none;"> -->
<div id="options" class="options" style="display: none;">
    <div class="opt">
        <label for="start">Start</label><input type="number" name="start" id="options-start" value="1" min="1" max="50">
        <label for="end">Koniec</label><input type="number" name="end" id="options-end" value="24" min="1" max="50">
    </div><div class="opt">
        <label for="decks">Liczba talii</label><input type="number" name="decks" id="options-decks" value="4" min="1" max="12">
    </div><div class="opt">
        <label for="quads">Premia za czwórkę</label><input type="number" name="quads" id="options-quads" value="20">
    </div><div class="opt">
        <label for="winvalue">Punkty za ugraną</label><input type="number" name="winvalue" id="options-winvalue" value="10">
    </div><div class="opt">
        <div>Meldunki całe</div><div class="slideThree">
            <input type="checkbox" id="options-marriages" name="marriages" checked><label for="options-marriages"></label>
        </div>
    </div><div class="opt">
        <div>Meldunki połówkowe</div><div class="slideThree">
            <input type="checkbox" id="options-half" name="half" checked><label for="options-half"></label>
        </div>
    </div><div class="opt">
        <div>Tasuj po każdym rozdaniu</div><div class="slideThree">
            <input type="checkbox" id="options-shuffle" name="shuffle"><label for="options-shuffle"></label>
        </div>
    </div><div class="opt">
        <div>Handicap</div><div class="slideThree">
            <input type="checkbox" id="options-handicap" name="handicap" checked><label for="options-handicap"></label>
        </div>
    </div><div class="opt">
        <div id="options-confirm" class="button">Zatwierdź</div>
    </div>
    <div id="options-close" class="button button-close">x</div>
</div>
<input type="hidden" id="get-name" value="{{name}}">
<input type="hidden" id="get-table" value="{{tableId}}">
<div class="container">
    <div class="table">
        <div class="corner" id="corner-top-left">
                <div class="trump" id="trump"></div>
                <div class="trump" id="trump-current"></div>
        </div>
        <div class="player" id="player-north">
            <div class="button" id="button-north" onclick="seatMe(2)">Usiądź</div>
            <div class="nick" id="nick-north"  style="display: none;">---</div>
            <div class="hand" id="hand-north"></div>
            <div class="tricks" id="tricks-north">-</div>
        </div>
        <div class="corner" id="corner-top-right">
            <div class="info info-all button" id="last-trick" style="display: none;">Ostatnia lewa</div>
            <div class="info info-1" style="display: none;">
                <div class="info-label">Zapowiedziano: </div>
                <div class="info-value" id="declarations-total">-</div>
            </div>
            <div class="info info-2" style="display: none;">
                <div class="info-label">Pozostało lew: </div>
                <div class="info-value" id="tricks-remaining">-</div>
            </div>
            <div class="info info-2" style="display: none;">
                <div class="info-value" id="tricks-status">Na równo</div>
            </div>
        </div>
        <div class="player" id="player-west">
            <div class="button" id="button-west" onclick="seatMe(1)">Usiądź</div>
            <div class="nick" id="nick-west" style="display: none;">---</div>
            <div class="hand" id="hand-west"></div>
            <div class="tricks" id="tricks-west">-</div>
        </div>
        <div class="desk">
            <div class="desk-board desk-west" id="desk-west"></div>
            <div class="desk-center" id="desk-center">
                <div class="desk-board desk-north" id="desk-north"></div>
                <div id="username-request" style="display: none;">
                    <label for="username">Nick:</label>
                    <input type="text" name="username" id="username" value="{{name}}">
                </div>
                <div class="button" id="ready-button">Start</div>
                <div id="waiting">Oczekiwanie na start...</div>
                <div class="button" id="options-button">Opcje</div>
                <div class="button" id="stand-button">Wstań</div>
                <a class="button" id="logout" href="/logout">Wyloguj</a>
                <div class="number-spinner" style="display: none;">
                    <div class="number-button" id="number-decr">-</div>
                    <div class="number-value" id="number-value">0</div>
                    <div class="number-button" id="number-incr">+</div>
                    <div class="number-confirm" id="number-ok">OK</div>
                </div>
                <div class="marriage-window" style="display: none;">
                    <div class="marriage-cloud marriage-description">Przebiłeś meldunkiem. Wybierz opcję:</div>
                    <div class="marriage-cloud marriage-option-no">Nie melduj</div>
                </div>
                <div class="marriage-choose" style="display: none;">
                    <div class="marriage-cloud marriage-description">Wybierz opcję:</div>
                    <div class="marriage-cloud marriage-yes">Zamelduj 10</div>
                    <div class="marriage-cloud marriage-yes">Zamelduj 5</div>
                    <div class="marriage-cloud marriage-no">Nie melduj</div>
                    <div class="marriage-cloud marriage-cancel">Cofnij</div>
                </div>
                <div class="desk-board desk-south" id="desk-south"></div>
            </div>
            <div class="desk-board desk-east" id="desk-east"></div>
        </div>
        <div class="desk-last" style="display: none;">
            <div class="desk-board desk-west" id="desk-west-last"></div>
            <div class="desk-center" id="desk-center-last">
                <div class="desk-board desk-north" id="desk-north-last"></div>
                <div class="desk-board desk-south" id="desk-south-last"></div>
            </div>
            <div class="desk-board desk-east" id="desk-east-last"></div>
            <div id="last-close" class="button button-close">x</div>
        </div>
        <div class="player" id="player-east">
            <div class="button" id="button-east" onclick="seatMe(3)">Usiądź</div>
            <div class="nick" id="nick-east" style="display: none;">---</div>
            <div class="hand" id="hand-east"></div>
            <div class="tricks" id="tricks-east">-</div>
        </div>
        <!-- <div class="corner" id="corner-bottom-left"></div> -->
        <div class="player" id="player-south">
            <div class="button" id="button-south" onclick="seatMe(0)">Usiądź</div>
            <div class="nick" id="nick-south" style="display: none;">---</div>
            <div class="hand" id="hand-south"></div>
            <div class="tricks" id="tricks-south">-</div>
        </div>
        <!-- <div class="corner" id="corner-bottom-right"></div> -->
    </div><div class="sidebar">
        <div class="scorecard">
            <h3>Wyniki</h3>
            <div>
                <div class="score-table-header"></div>
            </div>
            <div class="score-window">
                <div class="score-table"></div>
            </div>
        </div>
        <div class="chat">
            <h3>Czat</h3>
            <div class="scrollable" id="chat-history"></div>
            <input type="text" name="chat-input" id="chat-input">
        </div>
    </div>
</div>

</body>
</html>