@font-face {
    font-family: ubuntu;
    src: url('Ubuntu-R.ttf');
}

div.login-window form {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px #c4c4ea solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #c4c4ea;
    position: fixed;
    top: 40%;
    left: 35%;
    width: 30%;
    height: 20%;
    /*margin-top: -40px;*/
    /*margin-left: -10%;*/
    font-size: 0.7em;
    padding: 5px;
}

div.login-window div {
    display: flex;
}

div.login-window input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 120px;
    color: white;
    padding: 0 15px;
    font-size: 0.7em;
}

div.login-window input:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: ubuntu;
    font-size: 2em;
    overflow: hidden;
    background-image: url('wood.png');
    background-size: 100% 100%;
}

input {
    font-family: ubuntu;
}

h3 {
    margin: 0;
    color: #c4c4ea;
}

div.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.table {
    float: left;
    width: 80%;
    height: 100%;
    /*background: #23b34a;*/
}

div.sidebar {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

div.corner {
    /*display: flex;*/
    width: 30%;
    height: 30%;
    float: left;
}

div.player {
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

div#corner-top-left {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

div.nick, div.nick.connected {
    color: #ffe200;
}

div.nick.inactive {
    color: #cec162;
}

div.nick.disconnected {
    color: #63625f;
    text-decoration: line-through;
}

div.nick.disconnected:before {
    content: '--';
}

div.nick.disconnected:after {
    content: '--';
}

div.current-player:before {
    content: '- ';
}

div.current-player:after {
    content: ' -';
}

div.tricks {
    color: white;
    display: none;
}

div#waiting {
    color: white;
    font-size: 0.5em;
    display: none;
}

/* number spinner */
div.number-spinner {
    background: #1e7777;
    display: flex;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 5px;
}

div.number-button {
    width: 25%;
}

div.number-value {
    flex-grow: 2;
    border-left: 1px white solid;
    border-right: 1px white solid;
}

div.number-value:hover {
    cursor: ns-resize;
}

div.number-button:hover, div.number-confirm:hover {
    background: #1e9999;
    cursor: pointer;
}

div.number-confirm {
    width: 100%;
    border-top: 1px white solid;
}

.button {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background: #ddd;
    color: #000;
    user-select: none;
    -webkit-user-select: none;
}

.button:hover {
    background: #aaa;
    cursor: pointer;
}

div#ready-button, div#stand-button {
    display: none;
}

#chat-input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    height: 2em;
    color: white;
    padding: 0 15px;
    font-size: 0.5em;
}

#chat-input:focus {
    outline: none;
}

div#player-north {
    width: 40%;
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
}

div#player-south {
    width: 100%;
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
}

div#player-east, div#player-west {
    width: 30%;
    height: 40%;
    flex-direction: column;
    justify-content: space-around;
}

/* desk */
div#last-trick {
    width: auto;
}

div.desk-last {
    display: flex;
    justify-content: space-between;
    width: 32%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 30%;
    left: 24%;
    z-index: 200;
}

div.desk-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 38px;
    line-height: 16px;
    text-align: center;
}

div.desk {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 40%;
    /*background: #167f28;*/
}

div.desk-west, div.desk-east {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
}

div.desk-center {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

div.desk-north {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: visible;
}

div.desk-south {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow-x: visible;
}

div.scorecard {
    width: 100%;
    height: 50%;
    /*background: #099253;*/
    display: flex;
    flex-direction: column;
}

div.chat {
    width: 100%;
    height: 50%;
    /*background: #047b71;*/
    display: flex;
    flex-direction: column;
}

/* info panel */
div#corner-top-right {
    font-size: 0.7em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.info {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    justify-content: center;
    padding: 5px 20px;
}

div.info-label {
    margin-right: 15px;
}

/* chat styles */
div#chat-history {
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    text-align: left;
    overflow-y: auto;
}

div#chat-history p {
    margin: 2px 5px;    
}

span.chat-nick {
    color: #ffe200;
    font-style: italic;
}

span.chat-msg {
    color: white;
}

span.chat-server {
    font-style: italic;
    color: #faff2f;
}

div#chat-history::-webkit-scrollbar {
    width: 5px;
}
 
div#chat-history::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
div#chat-history::-webkit-scrollbar-thumb {
    background-color: yellow;
    outline: 1px solid slategrey;
}

span.chat-hand {
    color: white;
    font-style: normal;
}

/* hand styles */
div.hand {
    display: none; 
    overflow: hidden;
    max-height: 126px;
    min-height: 126px;
}

div#hand-south, div#hand-north {
    min-width: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

div#hand-south {
    overflow: visible;
    max-width: 100%;
}

div#trump-current {
    display: none;
}

div.grey {
    color: #888;
}

.red {
    color: red;
}

.black {
    color: black;
}

div.facedown {
    background-image: url('72x112.jpg');
    color: rgba(0, 0, 0, 0);
}

/* score card */
div.score-table {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 0.7em;
    color: white;
    border-collapse: collapse;
}

div.score-window {
    margin-top: 23px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

div.score-window::-webkit-scrollbar {
    width: 5px;
}
 
div.score-window::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
div.score-window::-webkit-scrollbar-thumb {
    background-color: yellow;
    outline: 1px solid slategrey;
}

div.score-table-header {
    display: table;
    table-layout: fixed;
    font-size: 0.6em;
    color: white;
    border-collapse: collapse;
    position: absolute;
    z-index: 5;
}

div.score-row {
    display: table-row;
}

div.score-row:hover {
    display: table-row;
    background: #da4;
}

div.score-index {
    border-bottom: 1px #c4c4ea solid;
    border-collapse: collapse;
    display: table-cell;
    width: 30px;
}

div.score-info {
    border-bottom: 1px #c4c4ea solid;
    border-left: 1px #c4c4ea solid;
    border-collapse: collapse;
    display: table-cell;
    font-size: 0.5em;
    width: 15px;
    vertical-align: middle;
}

div.score-item {
    border-bottom: 1px #c4c4ea solid;
    border-collapse: collapse;
    display: table-cell;
}

div.score-item-header {
    border-left: 1px #c4c4ea solid;
    overflow: hidden;
}

div.score-info span {
    display: inline-block;
    width: 15px;
}

span.score-declared {
    background-color: #888;
}

span.score-success {
    background-color: #26f126;
}

span.score-handicap {
    background-color: #c8de0e;
}

span.score-fail {
    background-color: #ce1818;
}

/* marriage window */
div.marriage-window {
    color: white;
    position: fixed;
    left: 40%;
    top: 60%;
    width: 32%;
    margin-left: -16%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
    font-size: 0.45em;
}

div.marriage-option-no:hover {
    background-color: #e80808;
}

div.marriage-option-yes:hover {
    background-color: #3ae43a;
}

/* marriage mode choose */
div.marriage-choose {
    color: white;
    position: fixed;
    left: 40%;
    top: 60%;
    width: 32%;
    margin-left: -16%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
    font-size: 0.45em;
}

div.marriage-cloud {
    background-color: black;
    border: 1px white solid;
    border-radius: 5px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 0px;
    margin: 5px 10px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

div.marriage-description {
    width: 100%;
    cursor: default;
}

div.marriage-yes:hover {
    background-color: #3ae43a;
}

div.marriage-no:hover {
    background-color: #e80808;
}

div.marriage-cancel:hover {
    background-color: #131694;
}

div#username-request {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px #c4c4ea solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #c4c4ea;
    position: fixed;
    top: 50%;
    left: 40%;
    width: 20%;
    height: 60px;
    margin-top: -40px;
    margin-left: -10%;
    font-size: 0.7em;
    padding: 5px;
}

input#username {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: center;
    width: 70%;
    color: white;
    font-size: 0.7em;
}

input#username:focus {
    outline: none;
}
